<div class="signup-secion">
        <h1>Sign Up</h1>
        <form action="/signup" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="aaaAA" placeholder="Username">
                <p>{{errorMessageUserName}}</p>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="12345Ab" placeholder="Password">
                <p>{{errorMessagePassword}}</p>
                
                <button>Create an account</button>
        </form>

</div>